form[id$='_climb'] {
  background-color: $secondary-background-color;
  border: $secondary-border;
  border-radius: $base-border-radius;
  padding: $small-spacing;

  table{
    table-layout: auto;

    td {
      border: 0;
      padding: $tiny-spacing;

      &:first-child {
        text-align: right;
        width: 1%;
        white-space: nowrap;
      }
    }
  }

  .climb-type {
    @include button-group;
    label {
      margin: 0;
    }
  }

  .grade {
    select {
      display: none;
    }
  }
}
