- if target.try(:errors).try(:any?)
  #error_explanation
    %header
      We couldn't save your changes due to the following #{"error".pluralize(target.errors.count)}:
    %ul
      - target.errors.full_messages.each do |message|
        %li= message
