%section#current_section{ data: { section_id: section.id } }
  %h2= section.name

  #climbs
    - section.climbs.includes(:grade).each do |climb|
      -# TODO: implement null object pattern for grades
      = link_to climb.grade.name,
                athletes_climb_logs_path,
                class: Climb.color_name_for(climb.color),
                remote: true,
                method: :post,
                data: { params: { climb_log: { climb_id: climb.id } } }

  - if policy(Section).new?
    = link_to 'Add Climb',
              new_section_climb_path(section),
              remote: true,
              class: 'new-climb-link'
