%h1= @gym.name

%section.gym-info
  .change-section
    Change Section
    = fa_icon 'angle-double-right', class: 'fa-lg'
  %ul.sections
    - @gym.sections.each do |section|
      %li
        = link_to section.name, section, remote: true

- if GymPolicy.new(current_user, Gym).edit?
  = link_to 'Edit Gym Info', edit_gym_path(@gym), class: 'edit-gym-link'
